<div class="container">

  <h2>All restaurants</h2>

  <div class="actions">
    <%= link_to "Add a restaurant", new_restaurant_path, class: "btn btn-warning" %>
  </div>

  <div class="cards">

    <% @restaurants.each do |restaurant| %>

        <div class="card-resto">

          <div class="resto-title">
            <%= link_to restaurant.name, restaurant_path(restaurant), class: "link-to" %>
          </div>
          <div class="resto-content">
            <p><strong><%= restaurant.category.capitalize %></strong></p>
            <p><%= restaurant.address %></p>
            <p><%= restaurant.phone_number %></p>
          </div>

        </div>
    <% end %>

  </div>
</div>
