<div class="actions">
  <%= link_to "Edit", edit_restaurant_path(@restaurant), class: "btn btn-warning" %>
  <%= link_to "Delete", restaurant_path(@restaurant), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
  <%= link_to "Add a review", new_restaurant_review_path(@restaurant.id), class: "btn btn-primary" %>
  <%= link_to "Back to home", restaurants_path, class: "btn btn-secondary" %>
</div>

<div class="container restaurant">
  <div>
    <h2><%=  @restaurant.name %></h2>
    <br>
    <p><strong><%= @restaurant.category.capitalize %></strong></p>
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.phone_number %></p>
  </div>
  <br>
  <div class="all-reviews">
    <h2><%=  @restaurant.name %>'s reviews</h2>
    <br>
    <% @reviews.each do |review| %>
      <div class="review-card">
        <div class="rating"><p><%= review.rating %>/5</p></div>
        <div class="content"><p><%= review.content %></p></div>

      </div>
    <% end %>
  </div>
</div>
